body{
    background-image: url("https://c.pxhere.com/images/c2/53/93b12435be26834e4c5e0c30c8d0-1445111.jpg!d");
    background-size: cover;
    background-attachment: fixed;
}





#about{
    background-color: rgba(255, 255, 255, 0.66);
    width: 55rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#about-bg{
    width: 50rem;
    height: 30rem;
    background-image: url("https://static.citylifestyle.com/articles/pampered-pets/445066807-550.jpg?v=4");
    background-size: cover;
    border-radius: 5px;
    padding-top: 1rem;
}

.about-content{
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 5px;
   width: 20rem;
   padding: 1rem;
   margin-left: 1rem;

}

.about-content h1{
    font-size: 2rem;
    color: rgb(171, 0, 194);
}

.about-content h2{
    font-size: 1.5rem;
    color: rgb(171, 0, 194);
}
.about-content p{
    font-size: 1.1rem;
}

#book-btn{
    background-color: rgb(82, 221, 214);
    color: white;
    width: 20rem;
    height: 2rem;
}

#map{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    margin-top: 1rem;
    border: 3px solid rgb(82, 221, 214);
}
